*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.mt-120{
    padding-left: 120px;
    padding-right: 120px;
}

.header{
    height: 92px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    
}

.menu-icon{
    height: 32px;
    cursor: pointer;
}

.container{
    margin-top: 120px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.menu-container{
    display: flex;
    list-style-type: none;
    align-items: center;
    flex: 1;
}

.menu-login-signup{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 100px;
}

.menu li:hover a{
    color: #a053c5;
}

.a-text{
    text-decoration: none;
    padding: 0 16px;
    color: #8d8d8d;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.a-text-signup{
    background-color: #a053c5;
    padding: 14px 36px;
    color: #fff;
    margin-left: 16px;
    opacity: 0.93;
}

.login-sign{
    font-size: 16px;
}

.menu li:hover .a-text-signup{
    color: #fff;
    opacity: 1;
}


.home-section{
    margin-top: 32px;
    margin-bottom: 64px;
    display: flex;
    margin-left: 120px;
}

.tools-section-01,
.home-section-01{
    padding-top: 100px;
    width: 40%;
}

.home-section-02{
    
}

.home-section-02-img{
    padding-left: 16px;
    width: 100%;
}

.home-section-header-02,
.home-section-header-01{
    color: #2a2d3a;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.6;
}

.home-section-container{
    margin-top: 32px;
    color: #6a6464;
    line-height: 1.6;
    font-size: 18px;
}

.home-section-footer{
    padding: 18px 72px;
    width: 70%;
    margin-top: 32px;
    background-color: #a053c5;
}

.home-section-footer-a{
    
    text-decoration: none;
    color: #fff;
    
}

.customize-section{
    display: flex;
    padding-top: 100px;
}

.customize-section-01{
    
}

.customize-section-img{
    width: 100%;
}

.customize-section-02{
    color: #2a2d3a;
    padding-top: 72px;
    width: 60%;
    padding-left: 36px;
    
}

.customize-section-header{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
}

.customize-section-container{
    padding-top: 24px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;
    color: #6a6464;
}

.customize-section-footer{
    padding-top: 16px;
}

.customize-section-footer-a{
    text-decoration: none;
    color: #fa709a;
    font-size: 18px;
    font-weight: 700;
}

.customize-section-footer-a:hover{
    color: #a053c5;
}

.tools-section{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    
}
.tools-section-header-01{
    font-size: 42px;
    font-weight: 700;
    color: #2a2d3a;
    line-height: 1.2;
}

.tools-section-container{
    margin-top: 32px;
    color: #6a6464;
}

.tools-section-footer{
    margin-top: 32px;
}

.abtesting-section{
    display: flex;
    margin-right: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.abtesting-section-01{
    background-image: url(https://landerlab.io/static/img/d09cb2e2543c2cc7c04f.svg);
    padding-left: 120px;
}

.abtesting-section-02{
    padding-top: 72px;
    width: 60%;
    padding-left: 150px;
    padding-right: 120px;
    
}


.abtesting-section-header{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    color: #2a2d3a;
}

.abtesting-section-container{
    margin-top: 24px;
    color: #6a6464;
}

.tracking-section{
    display: flex;
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 100px;
    /* background: linear-gradient(
        65deg,rgba(247,206,104,0) 110.4%,rgba(255,204,112,.2) 140.43%); */
}
/* background: linear-gradient(
65deg,rgba(247,206,104,0) 110.4%,rgba(255,204,112,.2) 140.43%); */
.tracking-section-01{
    width: 55%;
}
.tracking-section-container{
    margin-top: 24px;
    color: #6a6464;
}

.tracking-section-img{
    width: 100%;
    padding-left: 100px;
}

.template-section{
    display: flex;
    background: linear-gradient(
0deg,rgba(250,112,154,.03),#fff 128.43%);
}
.template-section-01{
    padding-left: 120px;
    
}

.template-section-header{
    
    line-height: 1.2;
    font-size: 42px;
    font-weight: 700;
    color: #2a2d3a;
}

.template-section-02{
    padding-top: 72px;
    width: 65%;
    padding-left: 120px;
    padding-right: 200px;
}

.template-section-container{
    margin-top: 32px;
    color: #6a6464;
    
}

.template-section-footer{
    margin-top: 46px;
}

.domain-section{
    background: linear-gradient(
180deg,rgba(250,112,154,.04) 73.42%,rgba(81,145,255,.07));
}

.domain-section-header{
    padding-top: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.domain-section-header-01{
    font-size: 42px;
    color: #2a2d3a;
    font-weight: 700;
}

.domain-section-header-02{
    text-align: center;
    color: #6a6464;
    margin-top: 16px;
}

.domain-section-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.domain-section-container-team{
    background: linear-gradient(
184.23deg,rgba(176,205,255,.7) -32.23%,rgba(255,225,253,.3) 60.3%,rgba(255,232,176,.6) 103.92%);
    width: 31.5%;
    margin-top: 64px;
}

.pa-16{
    padding: 28px 16px 0 26px;  
}

.domain-section-container-img{
    margin-top: 16px;
    height: 80px;
}

.domain-section-container-header{
    font-size: 20px;
    font-weight: 700;
}

.domain-section-container-footer{
    color: #6a6464;
    padding-bottom: 42px;
}

.contact-section{
    background: rgba(81,145,255,.07) 18.91%;
}

.contact-section-container{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.contact-section-same{
    padding-top: 100px;
    padding-bottom: 150px;
}

.contact-section-img{
    padding-top: 28px;
    padding-bottom: 28px;
    height: 150px;
}

.contact-section-contact{
    
    /* height: 100%; */
    /* clip-path: polygon(0 0,0 100%,25% 0);
    background: #fff; */
}
.contact-section-container-01{
    margin: auto;
}
.contact-section-header-01{
    font-size: 42px;
    font-weight: 700;
    color: #2a2d3a;
}

.contact-section-header-02{
    color: #6a6464;
}

.contact-section-container-02{
    display: flex;
    width: calc(99%/3);
    text-align: center;
    background: linear-gradient(
185.43deg,#acaaff -31.61%,#ffd4cb 101.93%);
    align-items: center;
}

.abc{
    width: 50%;
    height: 100%;
    clip-path: polygon(0 0,0 101%,65% 0);
    background: #fff;
}

.contact-section-contact-email{
    
    text-decoration: none;
    padding: 8px 26px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    font-size: 20px;
    color: #2a2d3a;
    font-weight: 700;
    margin-left: -56px;
}

.contact-section-contact:hover a{
    color: #a053c5;
}

.host-performance-section{
    background-color: #222955;
}

.host-performance-section-container{
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 56px;
}

.host-performance-section-header-01{
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}

.host-performance-section-header-02{
    margin-top: 32px;
    color: #a8acc8;
    padding: 0 12px;
}

.host-performance-section-img{
    margin-top: 48px;
    width: 100%;
}

.host-performance-left{
    font-size: 14px;
    color: #a8acc8;
    text-align: left;
}

.host-performance-section-footer{
    display: flex;
    padding-bottom: 100px;
    justify-content: space-between;
}

.host-performance{
    width: calc(100%/4);
    padding: 32px;
}

.host-performance-section-footer-01{
    background: radial-gradient(216.44% 216.44% at 58.08% 100%,rgba(45,55,115,.8) 25.12%,rgba(250,112,154,.8) 99.76%);
    color: #fa709a;
}

.host-performance-section-footer-02{
    margin-left: 16px;
    background: radial-gradient(216.44% 216.44% at 58.08% 100%,rgba(45,55,115,.8) 25.12%,rgba(112,209,250,.8) 99.76%);
    color: #1ac6f4;
}

.host-performance-section-footer-03{
    margin-left: 16px;
    background: radial-gradient(216.44% 216.44% at 58.08% 100%,rgba(45,55,115,.8) 25.12%,rgba(112,250,167,.8) 99.76%);
    color: #2fd3ac;
}

.host-performance-section-footer-04{
    margin-left: 16px;
    background: radial-gradient(216.44% 216.44% at 58.08% 100%,rgba(45,55,115,.8) 25.12%,rgba(250,203,112,.8) 99.76%);
    color: #ffcc70;
}

.host-performance-footer-header-same{
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.pricing-section{
    background-color: #222955;
    height: 95rem;
}

.pricing-section-header{
    padding-top: 100px;
    width: 60%;
    text-align: center;
    margin: auto;
    font-size: 42px;
    color: #fff;
    font-weight: 700;
}

.pr{
    width: calc(100%/4);
}

.pricing-section-container{
    
    margin-top: 36px;
/*     
    padding-bottom: 100px;
     */
}

.pricing-section-container-con{
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    text-align: center;
    display: flex;
    position: sticky;
    top: 92px;
}

.pricing-section-container-01{
    background-image: url(https://landerlab.io/static%2Fimg%2Ff3be6943fdf3191b14ff.svg);
    color: #fff;
}

.pricing-section-container-same{
    background: #fff;
    padding: 32px 16px;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;

}

.pricing-section-co-01{
    margin-top: 60px;
    font-weight: 700;
    font-size: 18px;
    background: rgba(181,184,209,.3);
    /* padding-top: 8px;
    padding-bottom: 8px; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-section-co-choose{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
}

.pricing-section-co-choose0-01{
    margin: 2px;
    padding: 8px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    /* background-color: #a053c5; */
    border-radius: 50px;
    color: #707387;
}

.pricing-section-co-choose-02{
    margin: 2px;
    width: 50%;
    padding: 8px;
    text-align: center;
    /* padding: 8px 32px; */
    color: #a053c5;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

/* .pricing-section-co-choose0-01{
    color: #707387;
} */

.pricing-section-container-same-01{
    font-size: 18px;
    
}

.pr02{
    background-color: #89E3E0;
}

.psc1{
    color: #4158d0;
    font-weight: 700;
}

.psc2{
    color: #fff;
    font-weight: 700;
}

.psc3{
    color: #a053c5;
    font-weight: 700;
}

.pricing-section-container-same-02{
    font-size: 42px;
    font-weight: 700;
    margin-top: 8px;
    color: #0d2c48;
}

.pricing{
    font-size: 16px;
    font-weight: 400;
}

.pricing-section-container-same-03{
    color: #8e91a3;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 16px;
}

.pricing-section-container-same-04{
    padding: 10px;
    width: 70%;
    border-radius: 50px;
    margin: auto;
    
}

.pricing-section-container-footer{
    /* padding: 12px;
    width: 70%;
    border-radius: 50px; */
    text-decoration: none;
    color: #4e526f;
    font-weight: 700;
}

.prscs{
    border: 1px solid #4158d0;
}

.prscs01:hover,
.prscs:hover{
    
    background-color: #a053c5;
}

.prscs01:hover a,
.prscs:hover a{
    color: #fff;
}

.prscs01{
    background-color: #fff;
}

.pricing-section-container-con02{
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    text-align: center;
    
}

.pricing-section-container-row{
    display: flex;
    width: 100%;
    background-color: #fff;
}

.widthrow{
    width: calc(100%/4);
    padding: 32px;
    font-size: 22px;
    font-weight: 700;
    color: #a053c5;
    border-right: 1px solid #d3d3d3;
}

.pricing-section-container-cell01{
    padding-left: 16px;
    text-align: left;
    color: #6a6464;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #d3d3d3;
}

.i-table{
    background: rgba(182,186,189,.863);
    color: #fff;
    padding: 0 6px;
    border-radius: 50%;
    float: right;
    margin-top: -20px;
    margin-right: -25px;
}

.pricing-section-container-cell03{
    color: #fa709a;
}

.check-table{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: auto;
    background-color: #FAD7E2;
}

.pricing-section-container-cell04{
    font-weight: 900;
}

.footer{
    margin-top: 23rem;
    
}

.footer-team{
    text-align: center;
    margin: auto;
}
.footer-container{
    margin-top: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e5e5e5;
}

.footer-container-a{
    text-decoration: none;
    color: #707387;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    
}

.footer-container-a:hover{
    color: #000;
}

.footer-footer{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    color: #707387;
}

.footer-icon{
    text-decoration: none;
    padding-left: 8px;
    font-size: 20px;
    cursor: pointer;
    color: #707387;
}

.home-section-footer-mobi {
    padding: 18px 72px;
    width: 70%;
    margin-top: 32px;
    background-color: #a053c5;
}

.customize-section-footer-btn{
    padding: 12px;
    text-align: center;
    width: 70%;
    margin: auto;
    background: rgba(250,112,154,.2);
    border-radius: 50px;
    
}

/* .customize-section-footer-a{
    text-decoration: none;
    color: #fa709a;
    font-size: 18px;
    font-weight: 700;
}

.customize-section-footer-a:hover{
    color: #a053c5;
} */

.pricing-section-container-mobile-btn{
    margin-top: 16px;
    text-align: center;
    padding: 4px 0;
}

.model{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.model.open{
    display: flex;
}

.prspadding{
    margin-top: 16px;
}

.pricing-section-co-choose0-02{
    color: #a053c5;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

.pricing-section-co-choose-01{
    background: none;
    cursor: pointer;
    border-radius: 50px;
    color: #707387;
}

